body {
    background-color: #f7f5f0;
    font-family: 'Roboto', sans-serif;

}

section {
    margin: 50px;;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    
}

h2 {
    font-size: 18px;
}